<%= form_for(@coffeebean) do |f| %>
  <% if @coffeebean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffeebean.errors.count, "error") %> prohibited this coffeebean from being saved:</h2>

      <ul>
      <% @coffeebean.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
